table, th, td{
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}

#form {
    display: flex;
    flex-direction: column;
}

#button {
}

#container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 50vw;
}